---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero.astro'
import Biografy from '@/components/Biografy.astro'
import Discografy from '@/components/Discografy.astro'
import Contact from '@/components/Contact'
---

<Layout>
	<main class='flex flex-col'>
		<Hero/>
		<Discografy/>
		<Biografy/>
		<Contact/>
	</main>
</Layout>
