<div id="biografia" class="bg-gray-700 pt-10 flex flex-col items-center pb-10">
    <h2 class="font-subtitles text-4xl text-gray-300 mb-10">Biografía</h2>
    <div class="flex w-4/5 flex-col md:flex-row items-center justify-center">
        <div class="font-subtitles text-2xl md:text-lg lg:text-2xl text-gray-300 w-full xl:w-5/12 mb-5 space-y-5 md:space-y-3 md:mr-4 lg:space-y-5 xl:space-y-7">
            <p>El Bigote de Horacio se formó en Villa María (Córdoba) en el año 2018.</p>

            <p>
                Sus composiciones están influenciadas por el Rock/Funk y su sonoridad por el Rock Indie. Entre
                sus canciones se perciben gran variedad de dinámicas, pasando de momentos cargados de ritmo, a
                otros con un tinte más “atmosférico”.
            </p>

            <p>
                Esta formación está integrada por: Agustín Chanquía (Guitarra y Voz), Santiago De Nicola
                (Guitarra y Voz), Gustavo Lafuente (Bajo) y Joaquín Klein (Batería).
            </p>
        </div>
        <img src="imgBio.jpg" alt="Foto de la banda" class="w-full sm:w-80" />
    </div>
</div>

<!--  w-5/12  -->